@import '../../styles/shared-styles.scss';

.header {
    background: linear-gradient(to right, rgb(31, 41, 105), rgb(67, 51, 125)) !important;
    color: rgb(173, 178, 203) !important;
}
.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container .navbar-brand {
    color: rgb(173, 178, 203);
}
.navbar .container .navbar-nav .nav-link {
    color: rgb(173, 178, 203);
    border-radius: 18px;
    padding: 8px 16px;
}
.navbar .container .navbar-nav .nav-link.active {
    background-color: $shopapp-color !important;
    color: white !important;
}

// popver
.popover-list {
    padding: 10px;
}

.popover-item {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.popover-item:hover {
    color: #fff;
    background-color: $shopapp-color;
}

.nav-item.active {
    background-color: $shopapp-color !important;
    color: white !important;  
}